
<div class="pb-1 mt-5">
  <h1 class="display-3 text-muted">List of Litters</h1>
</div>

<div id="litters_container" class="row">

</div>

<!-- Modal for Form -->
<div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    </div>
  </div>
</div>
<!-- End of Modal -->

<!-- Modal for View -->
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog modal-lg">
     <!-- Modal content-->
     <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close ml-auto" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
           <h4 class="modal-title">
           </h4>
        </div>
        <div class="modal-body row">

        </div>
        <div class="modal-footer">
           <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
     </div>
  </div>
</div>
<!-- End of Modal -->

<!-- template -->
<script id="litter-template" type="text/x-handlebars-template">

  <div class="col-xs-12 col-md-4 mb-4 insert-litter">
    <div class="card border-custom">
      <div class="card-body">
        <h1 class="card-title">
          <a href="/litters/{{id}}">{{name}}</a>
        </h1>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          From: {{start_date}} <br>
          To: {{end_date}}
        </li>
        <li class="list-group-item">

            {{kittens.length}} kitten{{plural kittens.length}}

        </li>
      </ul>
      <div class="card-body text-center">
        <button type="button" class="btn btn-outline-primary modalButton" data-name="{{id}}" data-toggle="modal">View</button>
        <div class="data-group" data-group-id="{{id}}">
        </div>
      </div>
    </div>
  </div>

</script>

<script id="kitten-template" type="text/x-handlebars-template">

  <div class="card bg-light col-lg-12 showKitten">
    <div class="row">

      <div class="col-lg-6">
      </div>

      <div class="col-lg-6">
        <div class="card-body">
          <h2 class="card-title text-center boy">

          </h2>

          <ul class="list-group list-group-flush mr-4 ml-4">
            <li class="list-group-item">{{name}}</li>
            <li class="list-group-item">{{sex}}</li>
            <li class="list-group-item">D.O.B: </li>
            <li class="list-group-item">n/a</li>
            <h6>
              <li class="list-group-item text-muted">Fostered By:
              <span class="font-weight-normal d-inline-block mb-0.5 ml-1">{{user.id.name}}</span>
              </li>
            </h6>
          </ul>

          <div class="text-center m-4">
            <h4 class="litter-name"><a href="/litters/2">{{name}}</a></h4>

          </div>
        </div>
      </div>
    </div>


    <div class="row adjust-width">
      <div class="col-xs-12 col-md-6 btn-margin">
        <button class="btn btn-outline-primary btn-block prev-kitten"> &lt;&lt; Previous Kitten </button>
      </div>

      <div class="col-xs-12 col-md-6 btn-margin">
       <button class="btn btn-outline-primary btn-block next-kitten"> Next Kitten &gt;&gt; </button>
      </div>
    </div>

    <div class="row adjust-width">
      <a class="btn btn-outline-primary btn-block" href="/litters/2">Back to mmm Litter</a>
    </div>



  </div>


</script>
