
body {
  padding-top: 4.5rem;
}

/* ----navbar----- */

#bs-override .navbar-color {
  background-color: #8895b4;
}

#bs-override a.navbar-brand {
  color: #fff;
}

#bs-override a.nav-link {
  color: #d0d8e8;
}
