/* import the necessary Bootstrap files */
@import "bootstrap/functions";
@import "bootstrap/variables";
@import "bootstrap/mixins";

/* -------customization-------- */

$gray-100: #f8f9fa;
$gray-600: #868e96;
$gray-800: #343a40;
$black:  #000;
$blue:    #b490f5;
$red:     #dc3545;
$yellow:  #ffc107;
$cyan:    #17a2b8;

$theme-colors: (
  primary: #bca8e0
);

#bs-override.bg {
  background-color: #e9effb;
  padding-top: 3.5rem;
}


/* ----cards----- */

#bs-override h1.card-title,
#bs-override h4.card-title,
#bs-override h1.display-3,
#bs-override h1.litter-name,
#bs-override h4.litter-name,
#bs-override h2.devise-title,
#bs-override h2.card-title.boy,
#bs-override h2.card-title.girl {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
}

#bs-override h1.card-title {
  color: map-get($theme-colors, "primary");
  font-size: 60px;
}

#bs-override h1.display-3,
#bs-override h1.litter-name,
#bs-override h4.litter-name {
  color: map-get($theme-colors, "primary");
}

#bs-override h4.card-title a.boy {
  color: lightblue;
  font-size: 40px;
} /* -litter page-- */

#bs-override h4.card-title a.girl {
  color: pink;
  font-size: 40px;
} /* -litter page-- */

#bs-override h2.card-title.boy {
  color: lightblue;
  font-size: 64px;
} /* -show page-- */

#bs-override h2.card-title.girl {
  color: pink;
  font-size: 60px;
} /* -show page-- */

#bs-override li.list-group-item {
  background-color: transparent;
}

#bs-override div.card.border-custom {
  border: 1px solid #bca8e0;
  // background-color: #eff3f7;
}

#bs-override div.border-boy {
  border: 1px solid lightblue;
}

#bs-override div.border-girl {
  border: 1px solid pink;
}

#bs-override div.row.bottom-line {
  border-bottom: 1px solid rgba(0,0,0,.125);
}

#bs-override li.list-group-item {
  background-color: transparent;
}

#bs-override span.font-weight-normal {
  color: black;
}


/* ----buttons----- */

$mynewcolor: #8895b4;

#bs-override .btn-primary {
    @include button-variant($mynewcolor, darken($mynewcolor, 7.5%), darken($mynewcolor, 10%), lighten($mynewcolor,5%), lighten($mynewcolor, 10%), darken($mynewcolor,30%));
}

#bs-override .btn-outline-primary {
    @include button-outline-variant($mynewcolor, #222222, lighten($mynewcolor,5%), $mynewcolor);
}

// #bs-override .btn1{
//
//   width:100%;
//   padding:0;
//   margin:0;
// }

#bs-override div.btn-margin{
  padding:0;
  margin:0;
}

#bs-override .row.adjust-width{
  padding:0 2;
  margin:0;
}

/* ----navbar----- */

#bs-override .navbar-color {
  background-color: #8895b4;
}

#bs-override a.navbar-brand {
  color: #fff;
}

#bs-override a.nav-link {
  color: #d0d8e8;
}

#bs-override div.alert.alert-wrapper {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 0px;
 }

 /* ----forms----- */

 #bs-override div .radio_buttons {
   margin-bottom: 0.5rem;
 }

 #bs-override div.choose-button {
   margin-bottom: 2rem;
 }


/* ----modals----- */

 .modal-lg {
     max-width: 90%;
 }


 /* ----toggle----- */

//  #bs-override .toggle-kittens.row {
//   display:inline-block;
// }
